body {
  background-color: #fffbf7;
}
.home--tittle {
  color: #025157;
}
p {
  color: #46484c;
  font-family: verdana;
}
.sign-up-form--promocional {
  color: #8b8b8b;
  font-family: verdana;
}
.form__send {
  background-color: #025157;
  color: #fffbf7;
}
.logo {
  width: 15%;
  height: 100%;
}
.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}
.actions {
  width: 15%;
  font-size: 14px;
  text-align: right;
  font-weight: 600;
}
.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}
.actions a {
  color: #67b54b;
}
.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}
.header > * {
  display: inline-block;
  font-size: 16px;
  height: 100%;
  line-height: 45px;
}
.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}
.logo > img {
  width: 15%;
}
.menu__item {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}
.main {
  margin-top: 140px;
  text-align: center;
}
