body {
  background-color: #fffbf7;
}
.home--tittle {
  color: #025157;
}
p {
  color: #46484c;
  font-family: verdana;
}
.sign-up-form--promocional {
  color: #8b8b8b;
  font-family: verdana;
}
.form__send {
  background-color: #025157;
  color: #fffbf7;
}
